<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
    }

    h2 {
        padding-left: 20px;
    }

    #weatherForm {
        padding: 20px;
    }

    #weatherSubmit {
        color: white;
        background-color: salmon;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    #weatherSubmit:hover {
        cursor: pointer;
    }
</style>

<body>
    <h2>Weather Dashboard</h2>
    <form id="weatherForm" action="results" method="post">
        Zip Code: <input id="weatherInput" type="text" name="zipCode"><br>
        Country Code: <input id="weatherInput" type="text" name="countryCode"><br>
        <input id="weatherSubmit" type="submit" value="Submit">
    </form>
</body>

</html>